<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="content">
        <div class="body">
          
       <p>
           <div class="temp">
               <div class="n">0</div>
               <div class="d">o</div>
               <div class="c">C</div>
                 </div>
       </p>
   
   
   </div>

      <div class="details">
          <h1>city:Bangalore</h1>
          <p class="pt">MIN TEMP:&nbsp;0<sup>o</sup>c </p>
          <p class="pt">MAX TEMP:&nbsp;0<sup>o</sup>c </p>

      </div>
    </div>

    <hr class="hr">

    <div class="cards">
       
       <div class="card1">
         <p class="c1">Hubballi</p>
         <img src="https://cdn-icons.flaticon.com/png/128/3104/premium/3104619.png?token=exp=1653326669~hmac=f8218e59fe6952e1e8e2f1fb2865ce13" alt="">
           <p class="c2">Temp:&nbsp;0 <sup>o</sup>c</p>
       </div>


       <div class="card2">
           <p class="c1">Belgavi</p>
         <img src="https://cdn-icons-png.flaticon.com/128/1163/1163661.png" alt="">
           <p class="c2">Temp:&nbsp;0 <sup>o</sup>c</p>

       </div>

       <div class="card3">
           <p class="c1">Mysore</p>
         <img src="https://cdn-icons-png.flaticon.com/128/869/869869.png" alt="">
           <p class="c2">Temp:&nbsp;0 <sup>o</sup>c</p>

       </div>

       <div class="card4">
           <p class="c1">Shimoga</p>
         <img src="https://cdn-icons.flaticon.com/png/128/3104/premium/3104619.png?token=exp=1653326669~hmac=f8218e59fe6952e1e8e2f1fb2865ce13" alt="">
           <p class="c2">Temp:&nbsp;0 <sup>o</sup>c</p>

       </div>







    </div>
   

</body>

</html>