 <div class="nav">
    <h1>Navbar</h1>
    <ul>
        <li><a href="" class="a1">Home</a></li>
        <li><a href="" class="a2">About</a></li>
    </ul>
 </div>

 <div class="nav2">
     <input class="search" type="search" placeholder="search">
     <button class="btn">Search</button>
 </div>